
<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="title">Name :</label>
            <input type="text" class="form-control" name="name"
                   value="{{ datas.name }}"required>
        </div>
        <div class="form-group col-md-6">
            <label for="area">Area :</label>
            <input type="text" class="form-control" name="area"
                   value="{{ datas.area }}" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="area">Picture :</label>
            <input type="url" class="form-control" name="picture" id="picture"
                   value="{{ datas.picture }}" required>
        </div>
        <div class="form-group col-md-6">
            <label for="size">Size (in meter):</label>
            <input type="text" class="form-control" name="size" id="size"
                    value="{{ datas.size }}" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="planet">Planet :</label>
            <select name="id_planet" class="custom-select" id="planet" required>
                {% set invite, selectedEntry, list, inviteCreate = 'une planète', datas.id_planet, planetList, 'Nouvelle planète ...' %}
                {% include 'Beast/generateSelectOptions.html.twig' %}
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="movies">Movie :</label>
            <select name="id_movie" class="custom-select" id="movies"
                    required>
                {% set invite, selectedEntry, list, inviteCreate = 'un film', datas.id_movie, movieList, null %}
                {% include 'Beast/generateSelectOptions.html.twig' %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <input type="submit" value="Valider" class="float-right">
        </div>
    </div>
</form>
