
<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="title">Name :</label>
            <input type="text" class="form-control" name="name"
                   value="{{ datas.name }}"required>
        </div>
        <div class="form-group col-md-6">
            <label for="area">Area :</label>
            <input type="text" class="form-control" name="area"
                   value="{{ datas.area }}" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="area">Picture :</label>
            <input type="url" class="form-control" name="picture" id="picture"
                   value="{{ datas.picture }}" required>
        </div>
        <div class="form-group col-md-6">
            <label for="size">Size (in meter):</label>
            <input type="text" class="form-control" name="size" id="size"
                    value="{{ datas.size }}" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="planet">Planet :</label>
            <select name="id_planet" class="custom-select" id="planet" required>
                {% set invite, selectedEntry, list, inviteCreate = 'une planète', datas.id_planet, planetList, 'Nouvelle planète ...' %}
                {% include 'Beast/generateSelectOptions.html.twig' %}
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="movies">Movie :</label>
            <select name="id_movie" class="custom-select" id="movies"
                    required>
                {% set invite, selectedEntry, list, inviteCreate = 'un film', datas.id_movie, movieList, null %}
                {% include 'Beast/generateSelectOptions.html.twig' %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <input type="submit" value="Valider" class="float-right">
        </div>
    </div>
</form>


{# this block is used to ask for new planet creation #}
{# ● BAD PRACTICE: IT WON'T WORK WITHOUT JS ... ● #}
<div class="modal fade bg-dark" id="planet-creation-dialog" tabindex="-1"
     role="dialog" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title">
                    Créer une nouvelle planète
                </h1>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
            </div>

            <div class="modal-body">
                <label>Nom&nbsp;:
                    <input id="new-planet-name">
                </label>
            </div>

            <div class="modal-footer container-fluid">
                <div class="row">

                    <button class="m-1 p-1 col btn" id="new-planet-send-btn"
                            title="Créer une nouvelle entrée de planète (bouton désactivé avant entrée d'un nom)"
                            disabled>
                        Envoyer
                    </button>

                    <button type="button" id="new-planet-cancel-btn"
                            class="m-1 p-1 col btn"
                            data-dismiss="modal" aria-label="Close">
                        Annuler
                    </button>

                </div> <!-- .row -->
            </div> <!--.modal-footer -->

        </div> <!-- .modal-content -->

    </div> <!-- .modal-dialog -->
</div>
