{% extends 'layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link href="/assets/css/edition.css" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="row">
        <h1 class="col-12">Add a new beast</h1>
    </div>


    {% if messages|length > 0 %}
        <div class="row danger">
            <p class="col-12">
                Errors&nbsp;met:
            </p>
        </div>

        {% for msg in messages %}
            <div class="row danger">
                <p class="col-12">
                    {{ msg }}
                </p>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-12">
            {% include 'Beast/_form.html.twig' %}
        </div>
    </div>
    <div class="row">
        <a href="/beasts">Back</a>
    </div>
{% endblock %}


{% block javascript %}
    {{ parent() }}
    <script src="/js/BeastEdition.js"></script>
{% endblock %}
