{# generate option list for a select.#}
{# acceded variables:
    ?selectedEntry  the id associated to the selected entry, or null if none
    invite  the partial text to invite to select a value
    list    a list of [id, label] associative arrays, one per option
    ?inviteCreate the text to ask for creation of a new object, or null
#}
{% block generateSelectOptions %}
    <option disabled {% if selectedEntry is null %}selected{% endif %}>
        Select {{ invite }} ...
    </option>

    {% for entry in list %}
        <option value="{{ entry.id }}" {% if entry.id == selectedEntry %}selected{% endif %}>
            {{ entry.label }}
        </option>
    {% endfor %}

    {% if inviteCreate is not null %}
        <option value="create..." id="option-create-new">
            {{ inviteCreate }}
        </option>
    {% endif %}

{% endblock %}


